@using BlazorWithCassandraAddressBook.Shared.Models
@page "/editaddressbook/{Id}"
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<h2>Edit</h2>
<h4>Address Book</h4>
<hr />

<form>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="FirstName" class="control-label">FirstName</label>
                <input for="FirstName" class="form-control" bind="@addressBook.FirstName" />
            </div>
            <div class="form-group">
                <label for="Gender" class="control-label">Gender</label>
                <select for="Gender" class="form-control" bind="@addressBook.Gender">
                    <option value="">-- Select Gender --</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ZipCode" class="control-label">ZipCode</label>
                <input for="ZipCode" class="form-control" bind="@addressBook.ZipCode" />
            </div>
            <div class="form-group">
                <label for="State" class="control-label">State</label>
                <input for="State" class="form-control" bind="@addressBook.State" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="LastName" class="control-label">LastName</label>
                <input for="LastName" class="form-control" bind="@addressBook.LastName" />
            </div>
            <div class="form-group">
                <label for="Address" class="control-label">Address</label>
                <input for="Address" class="form-control" bind="@addressBook.Address" />
            </div>
            <div class="form-group">
                <label for="Country" class="control-label">Country</label>
                <input for="Country" class="form-control" bind="@addressBook.Country" />
            </div>
            <div class="form-group">
                <label for="Phone" class="control-label">Phone</label>
                <input for="Phone" class="form-control" bind="@addressBook.Phone" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <input type="button" class="btn btn-default" onclick="@(async () => await UpdateAddressBook())" value="Save" />
            <input type="button" class="btn" onclick="@Cancel" value="Cancel" />
        </div>
    </div>
</form>

@functions {

[Parameter]
string Id { get; set; }

AddressBook addressBook = new AddressBook();

protected override async Task OnInitAsync()
{
    addressBook = await Http.GetJsonAsync<AddressBook>("/api/AddressBooks/Details/" + Id);
}

protected async Task UpdateAddressBook()
{
    await Http.SendJsonAsync(HttpMethod.Put, "api/AddressBooks/Edit", addressBook);
    UriHelper.NavigateTo("/listaddressbooks");

}

void Cancel()
{
    UriHelper.NavigateTo("/listaddressbooks");
}
}  